a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.875);
  text-align: center;
  justify-content: center;
  align-items: copy;
  cursor: pointer;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

img {
  margin: 5px;
  -webkit-user-drag: none;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/background.jpg");
  background-repeat: no-repeat center center fixed; 
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
}

code, pre{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, h1, h4, h5, h6 {
  text-shadow: 0.5px 0.5px 0.8px #948dff;
  color: #1a1b26;
  cursor: default;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.elipsText{
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
}

p {
  text-shadow: 0.5px 0.5px 0.8px #948dff;
  color: #1a1b26;
  font-size: 1.2em;
  margin: 0.3em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(146, 144, 196, 0.9);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(51, 50, 78, 0.9);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(25, 25, 59, 0.9);
}

#dvdlogo {
  display: block;
  position: absolute;
  z-index: -1;
  -webkit-animation: moveX 10s linear 0s infinite alternate, moveY 17s linear 0s infinite alternate, changeColour 30s, linear, 0s, infinite, normal, none, infinite;
  -moz-animation: moveX 10s linear 0s infinite alternate, moveY 17s linear 0s infinite alternate, changeColour 30s, linear, 0s, infinite, normal, none, infinite;
  -o-animation: moveX 10s linear 0s infinite alternate, moveY 17s linear 0s infinite alternate, changeColour 30s, linear, 0s, infinite, normal, none, infinite;
  animation: moveX 10s linear 0s infinite alternate, moveY 17s linear 0s infinite alternate, changeColour 30s, linear, 0s, infinite, normal, none, infinite;
  animation-iteration-count:infinite;
}
svg {
  display: block;
}
@-webkit-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 153px); }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 153px); }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 153px); }
}
@keyframes moveX {
  from { left: 0; } to { left: calc(100vw - 153px); }
}

@keyframes changeColour {
  0% { fill: #ff6969; }
  14% { fill: #fd9644; }
  28% { fill: #fed330; }
  42% { fill: #2dc22d; }
  56% { fill: #45d8f2; }
  70% { fill: #5e6cea; }
  84% { fill: #c22dc2; }
  100% { fill: #ff6969; }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 69px); }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 69px); }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 69px); }
}
@keyframes moveY {
  from { top: 0; } to { top: calc(100vh - 69px); }
}


#header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(180, 175, 252, 0.80);
}
#bodyContent {
  height: calc( 100vh - 50px);
  max-height: calc( 100vh - 50px);
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
#sideContent {
  background-color: rgba(180, 175, 252, 0.80);
  backdrop-filter: blur(6px);
  box-shadow: 9px 13px 8px 8px  rgba(8, 7, 56, 0.692);
  border-bottom-right-radius: 1em;
  width: 400px;
}
.mainContent {
  overflow: hidden;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-basis: 0;
  flex-grow: 999;
}


.fullGrafana {
  width: 100%;
}
.halfGrafana {
  width: 50%;
}

.lightText {
  color: rgba(162, 161, 255, 0.5);
}

.darkText {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.875);
  text-shadow: 0.5px 0.5px 0.8px #5a5663;
}

.hostInfo {
  cursor: default;
  text-align: start;
  padding: 0;
  margin: 0;
  user-select: text;
  font-size: small;
  color: rgba(15, 15, 15, 0.8750);
  background-color: rgba(148, 154, 184, 0.8);
  -webkit-box-shadow: inset 3px 3px 12px 2px rgba(28, 28, 170, 0.2);
  -moz-box-shadow: inset 3px 3px 12px 2px rgba(28, 28, 170, 0.2);
  box-shadow: inset 3px 3px 12px 2px rgba(28, 28, 170, 0.2);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.flexContainer {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: auto;
}

.forceWrap{
  flex-direction: column;
}

.stroke {
  box-sizing: border-box;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.strokeSmoll {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.strokeSmollLeft {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  vertical-align: middle;
  flex-direction: column;
  z-index: 2;
}

.row {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.withWrap {
  flex-wrap: wrap;
}

.alignEnd {
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.rowAlignLeft {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.rowAlignRight {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.waveButton {
  min-width: 200px;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgba(163, 161, 255, 0.9);
  box-shadow: 4px 5px 3px 2px rgba(8, 7, 56, 0.692);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 3;
  backdrop-filter: blur(6px);
}
.waveButton:hover {
  background-color: rgba(122, 121, 207, 0.9);
}
.waveButton:disabled {
  cursor: default;
  opacity: 0.7;
}

.homeButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 10; 
}
.homeButton:hover {
  box-shadow: 4px 5px 3px 2px rgba(8, 7, 56, 0.692);
  backdrop-filter: blur(6px);
}
.homeButton:active {
  box-shadow: inset -4px -5px 6px 4px rgba(8, 7, 56, 0.692);
}
.homeButton:disabled {
  cursor: default;
  opacity: 0.7;
}
.nonHomeButton{
  cursor: pointer;
  padding: 0.1em;
  border: 0;
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  z-index: 10; 
  margin-bottom: 0.7em;
}
.nonHomeButton:hover {
  box-shadow: 4px 5px 3px 2px rgba(8, 7, 56, 0.692);
  backdrop-filter: blur(6px);
}
.nonHomeButton:active {
  box-shadow: inset -4px -5px 6px 4px rgba(8, 7, 56, 0.692);
}
.active {
  box-shadow: inset -4px -5px 6px 4px rgba(8, 7, 56, 0.692);
}
.searchField {
  margin: auto;
  display: flex;
  background-color: rgba(44, 96, 238, 0.199);
  padding: 5px;
  border-radius: 20px;
  color:rgba(8, 7, 56, 0.747);
}
.searchField::placeholder {
  color:rgba(8, 7, 56, 0.445);
}
.searchField:focus {
  outline: none !important;
  border:2px solid rgba(49, 13, 134, 0.459);
  box-shadow: 0px 0px 3px 2px rgba(53, 118, 138, 0.8);
}

.main-container {
  display: flex;
  flex-direction: column;
}

.fixed-container {
  height: 50px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  vertical-align: middle;
}

.content-wrapper {
  display: flex;
  flex: 1;
  min-height: 0px; /* IMPORTANT: you need this for non-chrome browsers */
}

.overflow-container {
  flex: 1;
  overflow: auto;
}
.overflow-content {
  color: black;
  padding: 1em;
}


.noCursor {
  cursor: default;
}

.roundedOpaque {
  background-color: rgba(180, 175, 252, 0.80);
  box-shadow: 9px 13px 18px 8px  rgba(8, 7, 56, 0.692);
  border-radius: 30px;
  box-sizing: border-box;
  backdrop-filter: blur(6px);
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.container {
  position: relative;
  text-align: center;
}

.alwaysOnBottom {
  z-index: 0;
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 0);
  margin: 0 auto;
  user-select: none;
}
.alwaysOnBottomRight {
  z-index: 0;
  position: fixed;
  right: 0;
  bottom: 0px;
  /* transform: translate(-50%, -50%); */
  margin: 0 auto;
  user-select: none;
}

.selectOrch, .selectOrch a{
  text-shadow: 0.5px 0.5px 0.8px #948dff;
  background-color: transparent;
  border: none;
}

.selectOrch:hover, .selectOrch a:hover{
  backdrop-filter: blur(6px);
  text-decoration: none;
  cursor: pointer;
  border-radius: 1em;
}

.selectOrchLight, .selectOrchLight a{
  text-shadow: 0.5px 0.5px 0.8px #948dff;
  background-color: transparent;
  border: none;
}

.selectOrchLight:hover, .selectOrchLight a:hover{
  backdrop-filter: blur(6px);
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(115, 114, 146, 0.9);
  border-radius: 1em;
}

@media (max-aspect-ratio: 1/1) {
  .fullGrafana {
    width: calc(100vw - 2em);
  }
  .halfGrafana {
    width: calc(100vw - 2em);
  }
  .shrinkSize {
    width: 50%;
  }
  .flexContainer {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .roundedOpaque {
    background-color: none;
    width: 100%;
    box-shadow: none;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .stroke {
    margin-left: 0;
    margin-right: 0;
  }
  .showOnlyOnMobile {
    visibility: visible;
    display:block;
  }
  .showNeverOnMobile {
    visibility: hidden;
    display:none;
  }
  .mobileNoPadding {
    padding: 0;
  }
  .main-container {
    height: calc(100vh - 60px);
  }
}